<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <body>
  	<div id="wrapper">
  		<%= render 'shared/sidebar' %>
  		<%= render 'shared/header' %>
  		<%= yield %>
    	<%= render 'shared/footer' %>
  	</div>
    <%= render 'shared/scripts' %>
  </body>
</html>
